@import url("https://fonts.googleapis.com/css2?family=Imbue&family=Yusei+Magic&display=swap");
body {
  height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url(https://source.unsplash.com/collection/158642/1600x900);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: #2f3640;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 42px;
}

p {
  font-family: "Yusei Magic", sans-serif;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  padding: 18px;
}

input {
  font-family: "Imbue", serif;

  font-family: "Yusei Magic", sans-serif;
}

.search-box {
  position: absolute;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover {
  min-width: 20vh;
  width: 310px;
  transition: 0.8s;
}

.search-box:hover > .search-txt {
  width: 220px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;

  /*  estudar sobre display-flex */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-family: "Yusei Magic", sans-serif;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
