.table-container {
  padding: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#show-input {
  text-align: center;
  margin-left: 50%;
  margin-right: -1%;
  transform: translate(-50%, -50%);
  margin-top: 1vh;
  width: 200px;
  float: left;
  padding: 6px;
}
#show-link {
  margin: -82px;
  background-color: white;
  font-size: 21px;
  border-radius: 50%;
  padding: 4px;
}

.search-show {
  border: none;
  padding: 4px;
  outline: none;
  border-radius: 16px;
}

.table-container h2.table-heading {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 32px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  background-color: rgb(230, 191, 191);
  margin-left: 22%;
  margin-right: 22%;
  padding-top: 8px;
  border-radius: 32px;
  margin-top: 8px;
}

.table-container table {
  width: 100%;
  background: #fff;
  color: #222;
  padding: 24px;
  box-shadow: 0 4px 15px -8px rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}
tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container table thead tr {
  background: #222;
  color: #fff;
}

.table-container table td,
.table-container table th {
  padding: 16px 32px;
  text-align: center;
}

.table-container table tr {
  border-bottom: 1px solid rgb(158, 146, 146);
}

@media (max-width: 580px) {
  .table-container table thead {
    display: none;
  }

  .table-container table td {
    display: block;
  }

  .table-container table td::before {
    content: attr(data-heading) ": ";
    font-weight: bold;
  }
}
